<h1>New user</h1>

<%= render "form", user: @user %>

<br>

<div>
  <%= link_to "Back to users", users_path %>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  // Objeto que almacena las relaciones entre países, departamentos y ciudades
  var data = {
    "Colombia": {
      "Departamentos": {
        "Cundinamarca": ["La mesa", "Madrid"],
        "Tolima": ["Ibague", "San Luis"]
      }
    },
    "Mexico": {
      "Departamentos": {
        "Ciudad de México": ["Ciudad de México", "Ecatepec"],
        "Nuevo León": ["Monterrey", "San Pedro Garza García"]
      }
    },
    "Chile": {
      "Departamentos": {
        "Santiago": ["Santiago", "Providencia"],
        "Valparaíso": ["Valparaíso", "Viña del Mar"]
      }
    }
  };

  $(document).on('change', '#user_country', function() {
    var country = $(this).val();
    var departments = data[country] ? Object.keys(data[country]["Departamentos"]) : [];
    populateSelect('#user_department', departments);
  });

  $(document).on('change', '#user_department', function() {
    var country = $('#user_country').val();
    var department = $(this).val();
    var cities = data[country] && data[country]["Departamentos"][department] ? data[country]["Departamentos"][department] : [];
    populateSelect('#user_city', cities);
  });

  function populateSelect(selector, options) {
    var select = $(selector);
    select.empty();
    select.append($('<option>').text('Select').attr('value', ''));
    options.forEach(function(option) {
      select.append($('<option>').text(option).attr('value', option));
    });
    select.prop('disabled', options.length === 0);
  }
</script>
